/* These styles were used in previous exercise. So, I have commented instead delete */

/* .search-field-wrapper {
  width:50%;
  float:left;
  margin-bottom:10px;
}

.clear-all-label {
  float:right;
  padding-top: 18px;
  color:#0f75bc;
  cursor: pointer
}

.delete-label {
  color:#0f75bc;
  cursor: pointer;
  font-size:13px;
}

.clear-padding {
  padding: 0 !important;
}

.list-group {
  width: 100%
}

.list-group-item {
  border-bottom: 1px solid lightgray;
}

.swap-button {
  width: 25%;
}

.paneA{
  background-color: aliceblue;
  height: auto;
}

.paneB{
  background-color: #f3eeee;
  height: auto;
}

.swap-button-wrapper {
  margin:auto;
  text-align:center;
}

.move-all {
  margin-top:5px;
} */

.json-viewer {
  background-color: black;
  color:#fff;height:93%
}
